{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 140,
  "quoteProps": "preserve",
  "jsxSingleQuote": false,
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "trailingComma": "all",
  "bracketSpacing": true,
  "endOfLine": "auto",
  "proseWrap": "preserve",
  "htmlWhitespaceSensitivity": "ignore",
  "vueIndentScriptAndStyle": false
}
